<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NightingaleHospitalApp">
        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.NightingaleHospitalApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".doctor.DoctorDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".doctor.MyAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".doctor.PatientsListActivity"
            android:exported="false" />
        <activity
            android:name=".doctor.PatientHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".doctor.PatientDetailActivity"
            android:exported="false" />
        <activity
            android:name=".doctor.PatientTestResultsActivity"
            android:exported="false" />
        <activity
            android:name=".doctor.WritePrescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".patient.PatientDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".patient.BookAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".doctor.ManageSlotsActivity"
            android:exported="false" />
        <activity
            android:name=".patient.MyAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".patient.ViewMedicineActivity"
            android:exported="false" />
        <activity
            android:name=".patient.ViewPrescriptionsActivity"
            android:exported="false" />
    </application>

</manifest>